<h1 class="mb-5">Contact Us </h1>

<div id="messageArea"></div>

<div class="row justify-content-lg-center g-3">

<form class="col-lg-6 col-md-10 col-sm-10">
    <div class="input-group mb-3">
        <span class="input-group-text">Full Name </span>
        <input type="text" class="form-control" id="fullName" name="fullName" aria-describedby="Full Name" aria-label="Full Name Input" required>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text">Contact Number </span>
        <input type="tel" class="form-control" id="contactNumber" name="contactNumber" aria-describedby="Contact Number" aria-label="Contact Number" required>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text">Email Address </span>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailAddress" aria-label="Email Address Input" required>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text">Your Message </span>
        <input type="text" class="form-control" id="message" name="message" aria-describedby="Message" aria-label="Message area Input">
    </div>

    <div class="input-group mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="subscribeCheckBox">
        <label class="form-check-label" for="subscribeCheckBox">Subscribe to our contact list.</label>
    </div>

    <button id="sendButton" type="submit" class="btn btn-primary"><i class="fa-solid fa-envelope"></i> Submit</button>
    <button id="cancelButton" type="reset" class="btn btn-warning"><i class="fa-solid fa-ban"></i> Cancel</button>
</form>

    <div class="col-4 col-md-4">
        <a data="contact-list" class="btn btn-primary"><i class="fa-solid fa-users"></i> Show Contact List</a>
    </div>
</div>



