.input-group-addon:first-child
{
    border-right: 0;
}

.input-group-addon .fa
{
    font-size: 20px;
}

.input-group-addon
{
    padding: 6px 13px;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    font-weight: 400;
    border: 1px solid darkgrey;
    border-radius: 25px;
}

.input-group .form-control
{
    position:relative;
    z-index: 2;
    float:left;
    width: 100%;
    margin-bottom: 0;
}

.login
{
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: white;
    border-radius: .3rem;
}

.login input
{
    background-color: white;
    border-color: darkgrey;
    border-radius: .4em;
    width: 100%;
}